# Dependencies
node_modules/

# Build outputs
build/
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Misc
*.log
